*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
    clear: both;
   
}


:root{
--primary-red:hsl(0, 78%, 62%);
--primary-blue:hsl(212, 86%, 64%);
--primary-cyan:hsl(180, 62%, 55%);
--primary-orange:hsl(34, 97%, 64%);
--dark-blue:hsl(234, 12%, 34%);
--light-gray: hsl(0, 0%, 98%);
--grayish-blue:hsl(229, 6%, 66%);
--font-size:15px;
/* --h1:1.5em;
--h2:1em; */
}

body{
    font-family: 'Poppins', sans-serif;
    width: 99vw;
    height: 99vh;
    background-color: var(--light-gray);
}
.body-container{
   height: 95%;
    width: 95%;
    margin: 0px auto;
}
.heading{
    width: 100%;    
    
}

.heading-container{
    width: 70%;
    margin: 10px auto 5px;
    text-align: center;
}

.heading-container p:nth-child(1){
    font-size: x-large;
    font-weight: 200;

}
.heading-container p:nth-child(2){
    font-weight: 600 ;
    font-size: x-large;

}
.heading-container p:nth-child(3){
    width: 80%;
    font-weight: 200 ;
    font-size: smaller;
    margin: 20px auto 0px ;

}
.cards{
    height: 70vh;
    width: inherit;
    margin: 0px auto ;
}
.cards-container{
    width: 90%;
    height: 90%;
    margin: 10px auto 0px;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
}
.supervisor, .calculator , .team-plus{
    width: calc(100% / 3);
     height:auto; 
    margin: 5px auto;
    
}
.supervisor, .calculator , .team-builder , .karma{
    position: relative;
    background-color: white;
    width: 25vw;

}
.supervisor::before, .calculator::before , .team-builder::before , .karma::before{
    content: '';
    position: absolute;
    top:-1  px;
    left: 0;
    height: 3px;
    width: 100%;
    border-radius: 40px;
    background-color: red;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}
.supervisor::before{
    background-color: var(--primary-cyan);
}
.calculator::before{
    background-color: var(--primary-blue);
}
.team-builder::before{
    background-color: var(--primary-red);
}
.karma::before{
    background-color: var(--primary-orange);
}
.team-plus{
    height:70% ;
    /* margin: auto; */
    gap: 10px;
    display: flex;
    flex-direction: column;
}
 .team-builder , .karma{
    margin: 5px auto;
} 
.card-wrapper{
    padding: 5px 10px;

}
.card-wrapper h3{
    margin: 0px 10px;
}
.card-wrapper p{
    font-weight: 200;
    font-size: x-small;
    margin: 15px 10px 5px;
}
img{
    width: 10%;
    position: relative;
    left: 90%;
    bottom: 0px;
}
footer{
    height: 5vh;
    width: 100%;
    
}
/* mobile-screen */
@media  (min-width:375px) and (max-width:767px){
    .heading-container{
        width: 80vw;

}
.team-builder .karma {
    margin: 0;
}

.cards-container{
    display: block;
    flex-direction: column;
    margin: 20px auto;
    height: 100%;
}
.team-plus{
    width: 80%;
    margin: 0 35px;
    padding: 0;
}
.supervisor, .calculator  {
    
    width: 80%;
    /* height:30%;  */
    margin: 10px auto;
    }
    .supervisor, .calculator , .team-builder , .karma{
        width: 70vw;
        height: 30vh;
        
    }
     .heading , .cards{
        display: block;
    }
    .heading{
        height: 30vh;
        width: 100%;
        padding: 10px auto;
    }
    img{
        width: 10%;
        position: relative;
        left: 90%;
        bottom: 0px;
        margin-right: 3vw;
    
    
}
footer .attribution {
    min-height: 10vh;
    width: 100%;
}
}